* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: url("./assets/background-image.jpg");
}

/* forms */

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 22em;
  margin: 8em auto;
  padding: 5em 2em 3em;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.8); 
  background-color: white;
}

input {
  border-radius: 5px;
  padding: 0.5em ;
  margin: 0.5em 0;
}

.form-button {
  display: block;
  width: 8em;
  margin: 1em auto 0;
  padding: 0.5em 2em;
  border-radius: 15px;
  border: none;
  background-color: #662eed;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.close-form {
  display: inline;
  margin: 0 0 0 auto;
  width: 2em;
  padding: 0.5em;
}

/* login */

.login-options {
  color: #662eed;
  margin: 0 auto;
  padding: 0.5em 0;
  font-size: 1.1rem;
  font-weight: bold; 
}

.error-message {
  color: red;
  margin: 0 auto 0.1em;
  font-size: 1rem;
  text-align: center;
}

.page-title {
  text-align: center;
  color: white;
  margin: 2em auto;

}

/* user page */

.product-list-container {
  margin: 0 auto;
  width: 35em
}

.product-container {
  display: flex;
  border-radius: 10px;
  background-color: white;
  padding: 0.5em;
}

.product {
  margin: 0.5em auto;
  list-style-type: none;
  color: red;
}

.product-button {
  width: 2em;
  height: 2em;
  padding: 0.5em;
  border-radius: 10px;;
  margin: 1.2em 0.2em 0;
}

/* icons */

.icon {
  padding: 0.5em;
  width: 2em;
  font-size: 1rem;
  border-radius: 10px;
  color: white;
}

.form-input {
  width: 10em
}

.input-container {
  display: flex;
  flex-direction: column;
}

label {
  color: red;
}
